@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --yellow-color: hsl(47, 88%, 63%);
  --grey-one: hsl(0, 0%, 42%);
  --grey-two: hsl(0, 0%, 7%);
}
body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.holder {
  padding: 0 15px;
}
.card {
  max-width: 375px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  border: 1px solid black;
  box-shadow: 8px 8px 0px black;
}
.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .image img {
  max-width: 100%;
  border-radius: 15px;
}
.card .status p.learning {
  font-weight: 800;
  background-color: var(--yellow-color);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 20px 0 15px;
}
.card .status p.normal {
  font-weight: 600;
}
.card .content .head {
  font-weight: 800;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.card .content .head:hover {
  color: var(--yellow-color);
}
.card .content .head + p {
  color: var(--grey-one);
  line-height: 1.5;
  margin-bottom: 20px;
}
.card .author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .author img {
  width: 40px;
}
.card .author p {
  font-weight: 800;
  text-transform: capitalize;
}
